{% extends 'dashboard.html' %}

{% load static %}

{% block dashboardContent %}
<div class="container">
  {% block title %}
  {% if object %}
    <div class="row">
        <div class="col-6">
            <div class="dashboard-title"> Edit course "{{ object.title }}"</div>
       
        </div>
        {% else %}
        <div class="col-6">
            <div class="create-one" id="display-create-form">
              Create a new course
            </div>
        </div>
        {% endif %}
        {% endblock %}
    </div>
    <hr class="mt-2">


    <div class="create-project-form">
      <form method="post">
          {{ form.as_p }}
          {% csrf_token %}
          <p><input type="submit" value="Save course"></p>
            
            
        </form>
      

    </div>

    
</div>

{% endblock dashboardContent %}
