{% extends 'base.html' %}{% load filter_tags %}
{% load custom_filters %}
{% load blog_tags %}

{% block content %}
<div class="container">
    <div class="row p-lg-4 p-2 justify-content-center">
        <div class="col-12">
            <p class="project-title mb-3">{{post.title}}</p> 
            <hr class="mt-2 mb-0">
        </div>
        <div class="col-lg-10 col-12">
            <img class="d-block w-100 project-image" src="{{post.image.url}}" alt="{{post.title}} (img)">
        </div>
        <div class="col-12 text-left">
            <p class="mini-title">Description:</p>
            <p class="project-disc">{{ post.body|markdown }}</p>
            
            <div class="mt-4">
                <p class="mini-title">Similar posts:</p>
               
                {% for similar in similar_posts %}
                {% with similar.post.all|join:"," as post %}
                    {% with post|split:"," as post_list %}
                        {% for post in post_list %}
                           <a href="{{ post.get_absolute_url }}">  <span class="tool">{{ post.title }}</span></a>
                        {% endfor %}
                   {% endwith %}
                {% endwith %}
                {% empty %}
                There are no similar posts yet.
              {% endfor %}

            </div>
            {% for comment in comments %}
            <div cclass="text-left pt-4">
              <p class="mb-0">
                Comment {{ forloop.counter }} by {{ comment.name }}
                {{ comment.created }}
              </p>
              {{ comment.body|linebreaks }}
            </div>
          {% empty %}
            <p>There are no comments yet.</p>
          {% endfor %}

          {% if new_comment %}
          <h2>Your comment has been added.</h2>
        {% else %}
       

            <div class="text-left pt-4">
                <p class="mini-title mb-3">Add a new comment</p>
                <form method="post">
                  {{ comment_form.as_p }}
                  {% csrf_token %}
                  <p><input type="submit" value="Add comment"></p>
                </form>
               
            </div>
            {% endif %}
            <a href="{% url 'blog:post_share' post.id %}"
            class="preview-btn">
          
                <i class="fas fa-globe"></i> 
                Share this post
            </a>
        </div>
    </div>
</div>
{% endblock content %}