
{% extends 'base.html' %}
{% load course %}
{% load static %}
{% block style %}
    <link type="text/css" href="{% static 'dashboard.css' %}" rel="stylesheet">
{% endblock style %}




{% block body %}

{% with course=module.course %}

<div class="container mt-lg-8">
    <div class="row">
        <div class="col-lg-4 sidebar p-0">
            <a href="{% url 'dashboard:dashboard' %}">
                <div class="row info {% if dashboard %}dashboard-active {% else %}info-unactive{% endif %}">
                    <div class="col-2 pic">
                        <div class="profile-pic shadow" style="background-image: url('{% if profile.avatar %}{{profile.avatar.url}}{% else %}{% static 'img/default-avatar.svg' %}{% endif %}')">
                        </div>
                    </div>
                    <div class="col-10 name">
                        <h5 class="full-name">{{profile.name_complete}}</h5>
                        <p class="email">{{profile.email}}</p>
                    </div>
                </div>
            </a>
            <hr class="m-0 mb-1">
        
            <ul class="sidebar-list">
              {% for m in course.modules.all %}
              <li data-id="{{ m.id }}" {% if m == module %}
              class="selected"{% endif %}>
               <a href="{% url "courses:module_content_list" m.id %}">
                        {% comment %} <img src="{% static 'img/profile.svg' %}" width='25px'> {% endcomment %}
                        <i class="uil uil-user dashboard-icon"></i>
                        <span>
                          Module <span class="order">{{ m.order|add:1 }}</span>
                        </span>
                        <br>
                        {{ m.title }}
                      </a>
                    </li>
              
                
                <hr class="sidebar-line">
                {% empty %}
            
                    <li>
                        {% comment %} <img src="{% static 'img/experiences.svg' %}" width='25px'> {% endcomment %}
                        <i class="uil uil-spinner-alt dashboard-icon"></i>
                        No modules yet.
                    </li>
               
               
              {% endfor %}

            </ul>
          
            <hr class="sidebar-line">
            <div class="container text-center sidebar-footer">
                <a href="{% url 'homePage' %}">
                    <img class="svg-icon-home" src="{% static 'img/home-icon.svg' %}" width='20px'>
                    Home
                </a>
                <a href="{% url 'dashboard:logout' %}" id="logout">
                    <img class="svg-icon-logout" src="{% static 'img/logout-icon.svg' %}" width='20px'>
                    Logout
                </a>
            </div>
        </div>
        <div class="col-lg-8 dashboard-content pl-lg-4">
            {% block dashboardContent %}
                <div class="dashboard-title">Course "{{ course.title }}"</div>
                <div class=""><small> <p><a href="{% url "courses:course_module_update" course.id %}">
                  Edit modules</a></p></small></div>
                <div class="row">
                    <div class="col-12 card">
                        <div class="">
                          <div class="col-6">
                           
                            <div class="create-one" >
                              <h2>Module {{ module.order|add:1 }}: {{ module.title }}</h2>
                              <h3>Module contents:</h3>
                            </div>
                            {% for content in module.contents.all %}
                            <div data-id="{{ content.id }}">
                              {% with item=content.item %}
                                <p>{{ item }} ({{ item|model_name }})</p>
                                <a href="{% url "courses:module_content_update" module.id item|model_name item.id %}">
                                  Edit
                                </a>
                                <form action="{% url "courses:module_content_delete" content.id %}" method="post">
                                  <input type="submit" value="Delete">
                                  {% csrf_token %}
                                </form>
                              {% endwith %}
                            </div>
                          {% empty %}
                            <p>This module has no contents yet.</p>
                          {% endfor %}
                        </div>
                        <h3>Add new content:</h3>
                        <ul class="content-types">
                          <li><a href="{% url "courses:module_content_create" module.id "text" %}">
                          Text</a></li>
                          <li><a href="{% url "courses:module_content_create" module.id "image" %}">
                          Image</a></li>
                          <li><a href="{% url "courses:module_content_create" module.id "video" %}">
                          Video</a></li>
                          <li><a href="{% url "courses:module_content_create" module.id "file" %}">
                          File</a></li>
                        </ul>
                      
                        </div>
                        </div>
                    </div>
                </div>

            {% endblock dashboardContent %}
        </div>
    </div>
</div>

<div class="container dash-footer my-6 py-2">
    <div class="text-center">
        <p>Copyright © {% now "Y" %} Ludmil Paulo . All rights reserved</p>
        <p class="coder">Built with <i class="fa fa-heart text-danger"></i> in Django By <a href="">Ludmil Paulo</a></p>
    </div>
</div>


{% endwith %}
{% endblock body %}

{% block domready %}
  $('#modules').sortable({
      stop: function(event, ui) {
          modules_order = {};
          $('#modules').children().each(function(){
              // update the order field
              $(this).find('.order').text($(this).index() + 1);
              // associate the module's id with its order
              modules_order[$(this).data('id')] = $(this).index();
          });
          $.ajax({
              type: 'POST',
              url: '{% url "module_order" %}',
              contentType: 'application/json; charset=utf-8',
              dataType: 'json',
              data: JSON.stringify(modules_order)
          });
      }
  });

  $('#module-contents').sortable({
      stop: function(event, ui) {
          contents_order = {};
          $('#module-contents').children().each(function(){
              // associate the module's id with its order
              contents_order[$(this).data('id')] = $(this).index();
          });

          $.ajax({
              type: 'POST',
              url: '{% url "content_order" %}',
              contentType: 'application/json; charset=utf-8',
              dataType: 'json',
              data: JSON.stringify(contents_order),
          });
      }
  });
{% endblock %}




{% block script %}
    <script src="{% static 'dashboard.js' %}"></script>
{% endblock script %}
