<div class="row mt-lg-6 justify-content-center">
    <div class="col-lg-6 mx-lg-0 mx-2 about mirror-face">
        <div class="text-white p-2">
            <div id="about-me">
                <h2 class="display-4">About Me</h2>
                <p class="">{{info.about}}</p>
            </div>
            <div id="contact-me">
                <h2 class="display-4">Contact Me</h2>
                <p class="mb-0 text-muted">
                    <i class="fas fa-phone"></i>
                    <span class="ml-2">{{info.phone}}<span>
                </p>
                <p class="mb-0 text-muted">
                    <i class="fa fa-envelope"></i>
                    <a class="" href="mailto:{{info.email}}">{{info.email}}</a>
                </p>
                <div class="social text-center">
                    <a href="{{info.github}}" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>

                    <a href="{{info.linkedin}}" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                    </a>

                    <a href="{{info.instagram}}" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>

                    <a href="{{info.facebook}}" target="_blank">
                        <i class="fab fa-facebook-f"></i></i>
                    </a>

                    <a href="{{info.twitter}}" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>


 


</div>